.header{
    height: 80px;
    padding: 0 100px;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav.header a{
    color: white;
    text-decoration: none;
    margin-left: 30px;
}
nav.header a:hover{
    color: orangered;
}